# dependencies
node_modules/
*/node_modules/

# env files
.env
*/.env

# builds
dist/
build/
*/dist/
*/build/

# logs
*.log

# cache
frontend/node_modules/.cache/
backend/node_modules/.cache/

# OS
.DS_Store